//@include font-system
@mixin font-system($size, $weight:null, $color:null, $family:null) {


  @if $size {
    font-size: $size * 1em;
  } @if $weight {
    font-weight: $weight * 100;
  }

  color: $color;

}

//@include margin-system
@mixin margin-system($all-side, $top: null, $left: null, $bottom: null, $right: null) {

  @if $all-side {
    margin: $all-side * 1px;
  } @if $top {
    margin-top: $top * 1px;
  } @if $left {
    margin-left: $left * 1px;
  } @if $bottom {
    margin-botom: $bottom * 1px;
  } @if $right {
    margin-botom: $right * 1px;
  }
}

//@include padding-system
@mixin padding-system($all-side, $top: null, $left: null, $bottom: null, $right: null) {

  padding: $all-side * 1px;
  padding-top: $top * 1px;
  padding-left: $left * 1px;
  padding-right: $bottom * 1px;
  padding-bottom: $right * 1px;

}

//@include width-system
@mixin width-system($width, $max-width: null, $min-width: null) {

    width: $width;

  @if $max-width {
    max-width: $max-width * 1px;
  }
  @if $min-width {
    min-width: $min-width * 1px;
  }
}
