%center {
   text-align: center;
}

%text-left {
   text-align: left;
}

%text-right {
   text-align: right;
}

%justify {
  text-align: justify;
}

%margin-center {
  margin: 0 auto;
}

%left {
  float: left;
}

%right {
  float: right;
}

%clearfix {
  content: "";
  display: table;
  clear: both;
}

%clearLeft {
  clear: left;
}

%block {
  display: block;
}

%inline-block {
  display: inline-block;
  background-color: transparent;
  margin: 0 auto;
}

%no-deco {
  text-decoration: none;
  list-style-type: none;
}

%no-display {
  display: none;
}

%hide {
  visibility: hidden;
}

%full-width {
  width: 100%;
}
