%center {
   text-align: center;
}

%margin-center {
  margin: 0 auto;
}

%left {
  float: left;
}

%right {
  float: right;
}

%clearFix {
  content: "";
  display: table;
  clear: both;
}

%clearLeft {
  clear: left;
}

%block {
  display: block;
}

%inline-block {
  display: inline-block;
  background-color: transparent;
  margin: 0 auto;
}

%no-deco {
  text-decoration: none;
  list-style-type: none;
}

%no-display {
  display: none;
}

%full-width {
  width: 100%;
}
