/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/utilities/_placeholders.scss */
footer .follow, footer address, body h1, body .wrapper, body .wrapper h1, body .wrapper .container h2, header ul, header li, .lead, .container li {
  text-align: center;
}

/* line 5, ../sass/utilities/_placeholders.scss */
footer .contact-info, body .wrapper #lead-container, header ul, .desc p, .skills-list, #avatar-pic, #img-box {
  margin: 0 auto;
}

/* line 9, ../sass/utilities/_placeholders.scss */
.bottom-nav:first-of-type {
  float: left;
}

/* line 13, ../sass/utilities/_placeholders.scss */
footer a #contact-info, footer #to-top, .bottom-nav:last-of-type {
  float: right;
}

/* line 17, ../sass/utilities/_placeholders.scss */
body .wrapper #lead-container, header ul {
  content: "";
  display: table;
  clear: both;
}

/* line 23, ../sass/utilities/_placeholders.scss */
#avatar-pic {
  clear: left;
}

/* line 27, ../sass/utilities/_placeholders.scss */
body .wrapper h1, header h1 {
  display: block;
}

/* line 37, ../sass/utilities/_placeholders.scss */
footer a, header ul, header li, header nav, li, a, .lead, .container ul, .container li {
  text-decoration: none;
  list-style-type: none;
}

/* line 42, ../sass/utilities/_placeholders.scss */
footer ul, .contact {
  display: none;
}

/* line 46, ../sass/utilities/_placeholders.scss */
body hr {
  visibility: hidden;
}

/* line 50, ../sass/utilities/_placeholders.scss */
body .wrapper, body .wrapper .container img, #avatar-pic, .container img {
  width: 100%;
}

/* line 1, ../sass/modules/_footer.scss */
footer {
  -webkit-background-color: #F0F0F0;
  -moz-background-color: #F0F0F0;
  -ms-background-color: #F0F0F0;
  background-color: #F0F0F0;
  padding: 20px;
  color: #F8F8F8;
}
/* line 3, ../sass/modules/_footer.scss */
footer a {
  color: #595959;
}
/* line 11, ../sass/modules/_footer.scss */
footer h1 {
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #595959;
  margin: 10px;
}
/* line 15, ../sass/modules/_footer.scss */
footer b {
  margin: 0px;
  margin-top: 28px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0px;
  padding-top: 10px;
  padding-right: 2px;
  padding-bottom: 10px;
  padding-left: 2px;
}
/* line 20, ../sass/modules/_footer.scss */
footer .follow {
  width: 300;
  max-width: 300px;
  min-width: 100px;
  font-weight: 500;
  margin: 20px auto;
}
/* line 26, ../sass/modules/_footer.scss */
footer a.contact-info {
  margin: 10px;
  line-height: 2;
}
/* line 33, ../sass/modules/_footer.scss */
footer a #contact-info {
  margin: 10px;
  line-height: 2;
}
/* line 43, ../sass/modules/_footer.scss */
footer ul li {
  margin: 6px;
  padding: 10px;
}

/* line 53, ../sass/modules/_footer.scss */
.bottom-nav {
  margin: 10px;
}

/* line 1, ../sass/modules/_layout.scss */
body {
  margin: 8px;
}
/* line 5, ../sass/modules/_layout.scss */
body hr {
  margin: 25px 0;
}
/* line 15, ../sass/modules/_layout.scss */
body h1#portfolio {
  margin: 0px;
  margin-top: 70px;
  margin-right: 5px;
  margin-bottom: 70px;
  margin-left: 5px;
  margin: 70px 5px;
}
/* line 23, ../sass/modules/_layout.scss */
body .wrapper h1 {
  margin: 0px;
  margin-top: 70px;
  margin-right: 5px;
  margin-bottom: 70px;
  margin-left: 5px;
}
/* line 28, ../sass/modules/_layout.scss */
body .wrapper #lead-container {
  width: 1000px;
}
/* line 41, ../sass/modules/_layout.scss */
body .wrapper .container .desc {
  width: 450;
  max-width: 450px;
  min-width: 200px;
  margin: 50px auto;
}

/* line 1, ../sass/modules/_header.scss */
header {
  -webkit-background-color: #F0F0F0;
  -moz-background-color: #F0F0F0;
  -ms-background-color: #F0F0F0;
  background-color: #F0F0F0;
  padding: 5px;
  color: #F8F8F8;
}
/* line 7, ../sass/modules/_header.scss */
header h1 {
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #595959;
  margin: 0px;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
/* line 12, ../sass/modules/_header.scss */
header ul {
  margin: 0px;
  padding: 0px;
  margin-top: 27px;
  width: 100%;
}
/* line 25, ../sass/modules/_header.scss */
header li, header nav {
  margin: 6px;
  padding: 10px;
  -webkit-background-color: #ffffff;
  -moz-background-color: #ffffff;
  -ms-background-color: #ffffff;
  background-color: #ffffff;
}
/* line 33, ../sass/modules/_header.scss */
header li {
  font-size: 0.9em;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  color: #595959;
  color: #595959;
  font-family: 'Roboto', sans-serif;
}
/* line 41, ../sass/modules/_header.scss */
header li a {
  color: #595959;
}

/* line 2, ../sass/modules/_typography.scss */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* line 7, ../sass/modules/_typography.scss */
h1, h2, h3, p, h1.bold {
  font-family: 'Roboto', sans-serif;
  color: #595959;
}

/* line 12, ../sass/modules/_typography.scss */
.bold {
  font-size: 2em;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #595959;
  font-family: 'Roboto', sans-serif;
}

/* line 18, ../sass/modules/_typography.scss */
header h1 {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  color: #595959;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

/* line 26, ../sass/modules/_typography.scss */
.desc h2 {
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #595959;
}
/* line 30, ../sass/modules/_typography.scss */
.desc p {
  width: 340;
  max-width: 340px;
  min-width: 100px;
  margin: 50px auto;
}

/* line 37, ../sass/modules/_typography.scss */
.contact {
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #595959;
}

/* line 42, ../sass/modules/_typography.scss */
.lead {
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  margin: 30px;
}

/* line 49, ../sass/modules/_typography.scss */
li {
  font-size: 0.9em;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  color: #595959;
}

/* line 53, ../sass/modules/_typography.scss */
.desc {
  width: 0;
  max-width: 450px;
  min-width: 100px;
}

/* line 57, ../sass/modules/_typography.scss */
.skills-list {
  font-size: 1.2em;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  line-height: 200%;
  color: #595959;
  width: 600;
  max-width: 600px;
  min-width: 100px;
  font-family: 'Roboto', sans-serif;
}

/* line 1, ../sass/modules/_img.scss */
#avatar-pic {
  padding: 30px;
}

/* line 8, ../sass/modules/_img.scss */
#img-box {
  width: 400;
  max-width: 400px;
  min-width: 0px;
}

/* line 19, ../sass/modules/_img.scss */
.container ul {
  padding: 0px;
  padding: 0px;
}
/* line 25, ../sass/modules/_img.scss */
.container li {
  margin: 6px;
  padding: 10px;
  font-size: 0.9em;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  color: #595959;
}
