/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/screen.scss */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* line 5, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/utilities/_placeholders.scss */
.wrapper, .wrapper h1, .wrapper .container h2, header ul, h1, .lead, .container li {
  text-align: center;
}

/* line 5, ../sass/utilities/_placeholders.scss */
header ul .top-nav, #avatar-pic {
  margin: 0 auto;
}

/* line 9, ../sass/utilities/_placeholders.scss */
footer #name {
  float: left;
}

/* line 13, ../sass/utilities/_placeholders.scss */
header ul {
  float: right;
}

/* line 23, ../sass/utilities/_placeholders.scss */
#avatar-pic {
  clear: left;
}

/* line 37, ../sass/utilities/_placeholders.scss */
li, a, .container ul, .container li {
  text-decoration: none;
  list-style-type: none;
}

/* line 46, ../sass/utilities/_placeholders.scss */
.wrapper, #avatar-pic, .container img {
  width: 100%;
}

/* line 2, ../sass/modules/_footer.scss */
footer #name {
  margin: 0px;
  margin-top: 28px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0px;
  padding-top: 10px;
  padding-left: 2px;
  padding-right: 10px;
  padding-bottom: 2px;
}

/* line 4, ../sass/modules/_layout.scss */
.wrapper h1 {
  margin: 0px;
  margin-top: 70px;
  margin-left: 5px;
  margin-right: 70px;
  margin-bottom: 5px;
}
/* line 8, ../sass/modules/_layout.scss */
.wrapper .container {
  display: inline-block;
  margin: 10px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  max-width: 44%;
}

/* line 2, ../sass/modules/_header.scss */
header h1 {
  font-size: 1.5em;
  font-weight: 100;
  color: #595959;
}
/* line 5, ../sass/modules/_header.scss */
header ul {
  margin-top: 27px;
}
/* line 10, ../sass/modules/_header.scss */
header ul .top-nav {
  width: 100%;
  max-width: 300px;
  min-width: 600px;
}
/* line 18, ../sass/modules/_header.scss */
header li {
  font-size: 0.9em;
  font-weight: 100;
  color: #595959;
  margin: 10px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 6px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
/* line 23, ../sass/modules/_header.scss */
header li a {
  color: #595959;
}

/* line 29, ../sass/modules/_header.scss */
li, a {
  margin: 10px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

/* line 22, ../sass/modules/_typography.scss */
li {
  font-size: 0.9em;
  font-weight: 800;
  color: #595959;
}

/* line 1, ../sass/modules/_img.scss */
#avatar-pic {
  padding: 30px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

/* line 14, ../sass/modules/_img.scss */
.container ul {
  padding: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
/* line 20, ../sass/modules/_img.scss */
.container li {
  margin: 6px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 10px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  font-size: 0.9em;
  font-weight: 800;
  color: #595959;
}
