/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/utilities/_placeholders.scss */
footer .follow, footer address, body h1, body .wrapper, body .wrapper h1, body .wrapper .container h2, header ul, header li, p, .lead, .container li {
  text-align: center;
}

/* line 17, ../sass/utilities/_placeholders.scss */
footer .contact-info, header ul, .desc p, .lead, .skills-list, #avatar-pic, #img-box {
  margin: 0 auto;
}

/* line 21, ../sass/utilities/_placeholders.scss */
.bottom-nav:first-of-type {
  float: left;
}

/* line 25, ../sass/utilities/_placeholders.scss */
footer a #contact-info, .bottom-nav:last-of-type {
  float: right;
}

/* line 29, ../sass/utilities/_placeholders.scss */
#img-box {
  content: "";
  display: table;
  clear: both;
}

/* line 35, ../sass/utilities/_placeholders.scss */
#avatar-pic {
  clear: left;
}

/* line 39, ../sass/utilities/_placeholders.scss */
body .wrapper h1, header h1, #img-box {
  display: block;
}

/* line 49, ../sass/utilities/_placeholders.scss */
footer a, header ul, header li, header nav, li, a, .lead, .container ul, .container li {
  text-decoration: none;
  list-style-type: none;
}

/* line 54, ../sass/utilities/_placeholders.scss */
footer ul, .contact {
  display: none;
}

/* line 58, ../sass/utilities/_placeholders.scss */
body hr {
  visibility: hidden;
}

/* line 62, ../sass/utilities/_placeholders.scss */
body .wrapper, body .wrapper .container img, #avatar-pic, .container img {
  width: 100%;
}

/* line 1, ../sass/modules/_footer.scss */
footer {
  -webkit-background-color: #F0F0F0;
  -moz-background-color: #F0F0F0;
  -ms-background-color: #F0F0F0;
  background-color: #F0F0F0;
  padding: 20px;
  color: #F8F8F8;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 1, ../sass/modules/_footer.scss */
  footer {
    height: 300px;
  }
}
/* line 7, ../sass/modules/_footer.scss */
footer a {
  color: #595959;
}
/* line 15, ../sass/modules/_footer.scss */
footer h1 {
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #595959;
  margin: 10px;
  margin-top: 40px;
}
/* line 19, ../sass/modules/_footer.scss */
footer b {
  margin: 0px;
  margin-top: 28px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0px;
  padding-top: 10px;
  padding-right: 2px;
  padding-bottom: 10px;
  padding-left: 2px;
}
/* line 24, ../sass/modules/_footer.scss */
footer .follow {
  width: 300;
  max-width: 300px;
  min-width: 100px;
  font-size: 1.2em;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: #595959;
  font-weight: 500;
  margin: 20px auto;
}
/* line 31, ../sass/modules/_footer.scss */
footer a.contact-info {
  margin: 10px;
  line-height: 2;
}
/* line 38, ../sass/modules/_footer.scss */
footer a #contact-info {
  margin: 10px;
  line-height: 2;
}
/* line 43, ../sass/modules/_footer.scss */
footer address {
  margin: 10px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 47, ../sass/modules/_footer.scss */
  footer ul {
    display: inline;
    float: right;
    content: "";
    display: table;
    clear: both;
    margin: 10px;
    margin-top: 12px;
    margin-right: 0px;
  }
}
@media (min-width: 1024px) {
  /* line 47, ../sass/modules/_footer.scss */
  footer ul {
    display: inline;
    float: right;
    content: "";
    display: table;
    clear: both;
    margin: 10px;
    margin-top: 25px;
    margin-right: 0px;
  }
}
/* line 62, ../sass/modules/_footer.scss */
footer ul li {
  margin: 6px;
  padding: 10px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 62, ../sass/modules/_footer.scss */
  footer ul li {
    display: inline;
  }
}
@media (min-width: 1024px) {
  /* line 62, ../sass/modules/_footer.scss */
  footer ul li {
    display: inline;
  }
}

/* line 75, ../sass/modules/_footer.scss */
.bottom-nav {
  margin: 10px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 75, ../sass/modules/_footer.scss */
  .bottom-nav {
    margin: 10px;
    margin-left: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* line 85, ../sass/modules/_footer.scss */
  .bottom-nav:last-of-type {
    display: none;
  }
}
@media (min-width: 1024px) {
  /* line 85, ../sass/modules/_footer.scss */
  .bottom-nav:last-of-type {
    display: none;
  }
}

/* line 1, ../sass/modules/_layout.scss */
body {
  margin: 8px;
}
/* line 5, ../sass/modules/_layout.scss */
body hr {
  margin: 25px 0;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 13, ../sass/modules/_layout.scss */
  body .wrapper {
    text-align: center;
    width: 100%;
  }
}
/* line 20, ../sass/modules/_layout.scss */
body .wrapper h1 {
  margin: 0px;
  margin-top: 70px;
  margin-right: 5px;
  margin-bottom: 70px;
  margin-left: 5px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 26, ../sass/modules/_layout.scss */
  body .wrapper #img-box {
    text-align: right;
    margin: 0 auto;
    width: 40%;
  }
}
@media (min-width: 1024px) {
  /* line 26, ../sass/modules/_layout.scss */
  body .wrapper #img-box {
    text-align: right;
    margin: 0 auto;
    width: 40%;
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 40, ../sass/modules/_layout.scss */
  body .wrapper .container {
    max-width: 44%;
    margin: 10px;
    display: inline-block;
  }
}
@media (min-width: 1024px) {
  /* line 40, ../sass/modules/_layout.scss */
  body .wrapper .container {
    display: inline-block;
    width: 30%;
    margin: 10px;
  }
}
/* line 56, ../sass/modules/_layout.scss */
body .wrapper .container .desc {
  width: 450;
  max-width: 450px;
  min-width: 200px;
  margin: 50px auto;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 56, ../sass/modules/_layout.scss */
  body .wrapper .container .desc {
    width: 100%;
    height: auto;
    overflow: auto;
    height: 180px;
  }
}
@media (min-width: 1024px) {
  /* line 56, ../sass/modules/_layout.scss */
  body .wrapper .container .desc {
    width: 100%;
    height: 200px;
    overflow: auto;
  }
}

/* line 1, ../sass/modules/_header.scss */
header {
  -webkit-background-color: #F0F0F0;
  -moz-background-color: #F0F0F0;
  -ms-background-color: #F0F0F0;
  background-color: #F0F0F0;
  padding: 5px;
  color: #F8F8F8;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 1, ../sass/modules/_header.scss */
  header {
    height: 480px;
  }
}
@media (min-width: 1024px) {
  /* line 1, ../sass/modules/_header.scss */
  header {
    height: 480px;
  }
}
/* line 15, ../sass/modules/_header.scss */
header h1 {
  margin: 0px;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
@media (min-width: 1024px) {
  /* line 15, ../sass/modules/_header.scss */
  header h1 {
    float: left;
    margin: 0px;
    margin-top: 20px;
    margin-left: 15px;
  }
}
/* line 23, ../sass/modules/_header.scss */
header ul {
  margin: 0px;
  padding: 0px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 23, ../sass/modules/_header.scss */
  header ul {
    margin-right: 30px;
  }
}
@media (min-width: 1024px) {
  /* line 23, ../sass/modules/_header.scss */
  header ul {
    float: right;
  }
}
/* line 40, ../sass/modules/_header.scss */
header li, header nav {
  margin: 6px;
  padding: 10px;
  -webkit-background-color: #ffffff;
  -moz-background-color: #ffffff;
  -ms-background-color: #ffffff;
  background-color: #ffffff;
}
/* line 48, ../sass/modules/_header.scss */
header li {
  padding: 13px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 48, ../sass/modules/_header.scss */
  header li {
    background-color: #F0F0F0;
    display: inline-block;
    background-color: transparent;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  /* line 48, ../sass/modules/_header.scss */
  header li {
    background-color: #F0F0F0;
    display: inline-block;
    background-color: transparent;
    text-align: right;
    font-size: 1.2em;
  }
}
/* line 67, ../sass/modules/_header.scss */
header li a {
  color: #595959;
}

/* line 2, ../sass/modules/_typography.scss */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* line 7, ../sass/modules/_typography.scss */
h1, h2, h3, p, h1.bold {
  font-family: 'Roboto', sans-serif;
  color: #595959;
}

/* line 13, ../sass/modules/_typography.scss */
header h1 {
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #595959;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 13, ../sass/modules/_typography.scss */
  header h1 {
    font-size: 2em;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #595959;
  }
}
/* line 20, ../sass/modules/_typography.scss */
header li {
  font-size: 1.1em;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  color: #595959;
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
}

/* line 27, ../sass/modules/_typography.scss */
footer li {
  font-size: 1.1em;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  color: #595959;
}
/* line 30, ../sass/modules/_typography.scss */
footer b {
  font-size: 1.3em;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  color: #595959;
}

/* line 35, ../sass/modules/_typography.scss */
a {
  font-size: 0.8em;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  color: #595959;
}

/* line 42, ../sass/modules/_typography.scss */
a b {
  font-size: 0.9em;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  color: #595959;
}

/* line 46, ../sass/modules/_typography.scss */
b {
  font-size: 0.9em;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  color: #595959;
  color: #595959;
}

/* line 52, ../sass/modules/_typography.scss */
.bold {
  font-size: 2em;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #595959;
}

/* line 57, ../sass/modules/_typography.scss */
header h1 {
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #595959;
  margin: 15px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 57, ../sass/modules/_typography.scss */
  header h1 {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
  }
}

/* line 67, ../sass/modules/_typography.scss */
.desc h2 {
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #595959;
}
/* line 71, ../sass/modules/_typography.scss */
.desc p {
  width: 340;
  max-width: 340px;
  min-width: 100px;
  margin: 50px auto;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 71, ../sass/modules/_typography.scss */
  .desc p {
    width: 340;
    max-width: 340px;
    min-width: 100px;
  }
}

/* line 81, ../sass/modules/_typography.scss */
.contact {
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #595959;
}

/* line 90, ../sass/modules/_typography.scss */
.lead {
  margin: 30px;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 90, ../sass/modules/_typography.scss */
  .lead {
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  /* line 90, ../sass/modules/_typography.scss */
  .lead {
    margin: 30px;
    margin-top: 100px;
    margin-left: 70px;
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
    width: 600px;
    max-width: 600px;
    text-align: left;
  }
}

/* line 109, ../sass/modules/_typography.scss */
li {
  font-size: 0.9em;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  color: #595959;
}

/* line 113, ../sass/modules/_typography.scss */
.desc {
  width: 0;
  max-width: 450px;
  min-width: 100px;
}

/* line 117, ../sass/modules/_typography.scss */
.skills-list {
  font-size: 1.2em;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  line-height: 200%;
  color: #595959;
  width: 800;
  max-width: 800px;
  min-width: 100px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 121, ../sass/modules/_typography.scss */
  .skills-list li {
    font-size: 0.9em;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    color: #595959;
    display: inline;
    padding: 10px;
    line-height: 4;
  }
}
@media (min-width: 1024px) {
  /* line 121, ../sass/modules/_typography.scss */
  .skills-list li {
    width: 600;
    max-width: 600px;
    min-width: 100px;
    display: inline-block;
    padding: 10px;
    line-height: 4;
  }
}

/* line 1, ../sass/modules/_img.scss */
#avatar-pic {
  padding: 30px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 1, ../sass/modules/_img.scss */
  #avatar-pic {
    display: inline-block;
    max-width: 450px;
  }
}
@media (min-width: 1024px) {
  /* line 1, ../sass/modules/_img.scss */
  #avatar-pic {
    display: inline-block;
    max-width: 450px;
  }
}

/* line 18, ../sass/modules/_img.scss */
#img-box {
  width: 400;
  max-width: 400px;
  min-width: 0px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 18, ../sass/modules/_img.scss */
  #img-box {
    float: right;
    margin: 0 auto;
    width: 37%;
  }
}
@media (min-width: 1024px) {
  /* line 18, ../sass/modules/_img.scss */
  #img-box {
    float: right;
    margin: 0 auto;
    width: 40%;
  }
}

/* line 42, ../sass/modules/_img.scss */
.container ul {
  padding: 0px;
}
/* line 47, ../sass/modules/_img.scss */
.container li {
  margin: 6px;
  padding: 10px;
  font-size: 0.9em;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  color: #595959;
}
