footer {

  @include tablet-width {
    height:300px;
  }

  a {
    @extend %no-deco;
    color: $main-grey;
  }
  @include background-color($block-grey);
  @include padding-system(20);
    color:$light-grey;

    h1 {
      @include font-system(1.5,7,$main-grey);
      @include margin-system(10,$top:40);
    }
  b {
    @include margin-system(0,28,0,0,0);
    @include padding-system(0,10,2,10,2);
  }

  .follow {
    @extend %center;
    @include width-system(300,300,100);
    @include font-system(1.2,1,$main-grey,$line-height:1.5);
      font-weight: 500;
      margin: 20px auto;
  }
  a.contact-info {
    @include margin-system(10);
    line-height: 2;
  }
  .contact-info {
    @extend %margin-center;
  }
  a #contact-info{
    @extend %right;
    @include margin-system(10);
    line-height: 2;
  }
  address {
    @extend %center;
    @include margin-system(10);
  }
  ul{
    @extend %no-display;
    @include tablet-width{
      display: inline;
      float: right;
      @include clearfix();
      @include margin-system(10,$top:12,$right:0);
    }
    @include desktop-width{
      display: inline;
      float: right;
      @include clearfix();
      @include margin-system(10,$top:25,$right:0);
    }

    li {
      @include margin-system(6);
      @include padding-system(10);
        @include tablet-width{
          display: inline;
        }
        @include desktop-width{
          display: inline;
        }
    }
  }
}

.bottom-nav {
  @include margin-system(10);
  @include tablet-width{
    @include margin-system(10,$left:30)
  }
}

.bottom-nav:first-of-type {
  @extend %left;
}
.bottom-nav:last-of-type {
  @extend %right;
  @include tablet-width{
    display: none;
  }
  @include desktop-width{
    display: none;
  }
}
