header {

  @include background-color($block-grey);
  @include padding-system(5);
    color:$light-grey;

  h2 {

  }

  h1 {
    @extend %block;
    @include font-system(1.5,7,$main-grey);
    @include margin-system(0,.67,0,.67,0)
  }
  ul {
    @extend %clearfix;
    @extend %margin-center;
    @extend %center;
    @extend %no-deco;
    @include margin-system(0);
    @include padding-system(0);
      margin-top: $ul-margin-top;
      width: 100%;
      //originally skills-list

    }

  li,nav {

    @include margin-system(6);
    @include padding-system(10);
    @include background-color($white)
  }
  li {

    @extend %center;
    @include font-system(.9,8,$main-grey);
      color: $main-grey;
      font-family: 'Roboto', sans-serif;


    a {
      color: $main-grey;
    }
  }
}

li, a {
  @extend %no-deco;
}
