header {

  background-color: $header-grey;
  @include padding-system(5,0,0,0,0);

  h1 {
    @include font-system(1.5,1,$main-grey);
  }
  ul {
    @extend %margin-center;
    @extend %right;
    @include margin-system(0,0,0,0,0);
    @include padding-system(0,0,0,0,0);
      margin-top: $ul-margin-top;
      //originally skills-list
      .top-nav {
        @extend %margin-center;
        @include width-system(100%,300,600);
      }
    }

  li {

    @extend %no-deco;
    @extend %center;
    @include font-system(.9,8,$main-grey);
    @include margin-system(6,10,0,0,0);
    @include padding-system(10,0,0,0,0);
    color: $main-grey;
    font-family: 'Roboto', sans-serif;


    a {
      color: $main-grey;
    }
  }
}

li, a {
  @extend %no-deco;
  @include margin-system(10,0,0,0,0);
}
