header {

  @include background-color($block-grey);
  @include padding-system(5);

    color:$light-grey;

    @include tablet-width {
      height: 480px;
    }
    @include desktop-width {
      height: 480px;
    }

  h1 {
    @extend %block;
    @include margin-system(0,20,0,0,0);
      @include desktop-width {
        float: left;
        @include margin-system(0,$top:20,$left:15);
      }
  }
  ul {

    @extend %margin-center;
    @extend %center;
    @extend %no-deco;
    @include margin-system(0);
    @include padding-system(0);
      //originally skills-list
      @include tablet-width{
        margin-right: 30px;
      }
      @include desktop-width{
        float: right;
      }

    }

  li,nav {

    @extend %no-deco;
    @include margin-system(6);
    @include padding-system(10);
    @include background-color($white);

  }
  li {

    @extend %center;
    @include padding-system(13);


      @include tablet-width {
        background-color: $block-grey;
        display: inline-block;
        background-color: transparent;
        margin: 0 auto;
      }   @include desktop-width {
          background-color: $block-grey;
          display: inline-block;
          background-color: transparent;
          text-align: right;
          font-size: 1.2em;
        }

    a {
      color: $main-grey;
    }
  }
}

li, a {
  @extend %no-deco;
}
