#avatar-pic {
  @extend %full-width;
  @extend %margin-center;
  @extend %clearLeft;
  @include padding-system(30);
    @include tablet-width{
      display: inline-block;
      max-width: 450px;

    }
    @include desktop-width{
      display: inline-block;
      max-width: 450px;

    }
}

#img-box {
  @extend %margin-center;
  @extend %clearfix;
  @extend %block;
  @include width-system(400,400,0);
  @include tablet-width{
    float: right;
    margin: 0 auto;
    width: 37%;
  }
  @include desktop-width{
    float: right;
    margin: 0 auto;
    width: 40%;

  }
}

.container {

  img {
    @extend %full-width;
  }

  ul{
    @extend %no-deco;
    @include padding-system(0);
  }

  li{
    @extend %no-deco;
    @extend %center;
    @include margin-system(6);
    @include padding-system(10);
    @include font-system(.9, 8, $main-grey);
  }

}
