body {

  @include margin-system(8);

hr {
  @extend %hide;
    margin: 25px 0;
}


h1 {
  @extend %center;
}

h1#portfolio {
  @include margin-system(0,70,5,70,5);
  margin: 70px 5px;
}

.wrapper {
  @extend %center;
  @extend %full-width;
    h1 {
      @extend %block;
      @extend %center;
      @include margin-system(0,70,5,70,5);
    }
    #lead-container {
      @extend %margin-center;
      @extend %clearfix;
      @include width-system(1000px);
    }
  

    .container {

        img{
          @extend %full-width;
        }

        .desc {
          @include width-system(450,450,200);
            margin:50px auto;
        }

      h2 {
          @extend %center;
        }
      }
    }
  }
