body {

  @include margin-system(8);

hr {
  @extend %hide;
    margin: 25px 0;
}


h1 {
  @extend %center;
}

h1#portfolio {
  @include margin-system(0,70,5,70,5);
  margin: 70px 5px;
}

.wrapper {
  @extend %center;
  @extend %full-width;
    @include tablet-width{
      text-align: center;
      width: 100%;
    }
    h1 {
      @extend %block;
      @extend %center;
      @include margin-system(0,70,5,70,5);
    }
    #lead-container {
      @extend %margin-center;
      @extend %clearfix;
      @include width-system(1000px);
    }
    #lead {
      width: 420px;
    }
    #img-box {
      @include tablet-width{
        float: right;
        margin:0 auto;
        width: 40%;
      }
    }

    .container {
      @include tablet-width{
        max-width: 44%;
        margin: 10px;
        display: inline-block;
      }
        img{
          @extend %full-width;
        }

        .desc {
          @include width-system(450,450,200);
            margin:50px auto;
            @include tablet-width{
              width: 100%;
              height: auto;
              overflow: auto;
              height: 180px;
            }
        }

      h2 {
          @extend %center;
        }
      }
    }
  }
