
 * {
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
 }

h1,h2,h3,p,h1.bold {
  font-family: 'Roboto', sans-serif;
  color: $main-grey;
}

header {
  h1 {
      @include font-system(1.5,7,$main-grey);
        @include desktop-width {
          float: left;
        }
  }
  li {
      @include font-system(1.1,8,$main-grey);
  }
}

a {
  @include font-system(.8, 8, $main-grey);
}
p {
  @extend %center;
}

b {
  @include font-system(.9, 8, $main-grey);
  color: $main-grey;
}

.bold {
  @include font-system(2,7,$main-grey);
}

header {
  h1 {
    @include font-system(1.5,7,$main-grey);

  }
}

.desc {
  h2 {
    @include font-system(1.5,7,$main-grey);
  }

  p{
    @extend %margin-center;
    @include width-system(340,340,100);
      margin:50px auto;
      @include tablet-width {
        @include width-system(340,340,100);
    }
  }
}

.contact {
  @extend %no-display;
  @include font-system(1.5,7,$main-grey);
}

.lead {
  @extend %no-deco;
  @extend %center;
  @include font-system(1.2);
  @include margin-system(30);
    @include tablet-width {
      text-align: left;
      margin: 45px 0px 0px 50px;
      line-height: 1.3;
      font-size: 1.5em;
    }
}

li {
  @include font-system(.9,8,$main-grey);
}

.desc {
  @include width-system(0,450,100);
}

.skills-list {
  @extend %margin-center;
  @include font-system(1.2,8,$main-grey,$line-height:200%);
  @include width-system(600,600,100);
    li {
      @include tablet-width{
        display: inline;
        padding: 10px;
        line-height: 4;
        }
    }
}
